@import 'styles/vars.scss';

.projectCard {
  width: 100%;
  min-height: 500px;
  width: 100%;
  min-width: 800px;
  border-top: 1px solid hsla(0, 0%, 75.7%, 0.52549);
  border-bottom: 1px solid hsla(0, 0%, 75.7%, 0.52549);

  padding: 65px 30px;

  display: flex;
}

.videoContainer {
  width: 65%;
}

.descriptionContainer {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;

  color: $color-beta;
  font-size: 30px;
  text-transform: capitalize;
  text-shadow: 5px 2px 5px rgb(0 0 0 / 30%);
}

.stackTitle {
  @extend .title;
  margin-top: 20px;
  text-align: center;
}

.description {
  margin-top: 20px;
  font-size: 18px;
}

.techContainer {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.subHeader {
  font-size: 20px;
  align-self: flex-start;
  color: #033b97;
  margin-right: 10px;
}

.firstPart {
  height: 40%;
}

.secondPart {
  height: 60%;
}

.tech {
  display: flex;
  color: #033b97;
  font-size: 20px;
  align-items: center;
}

.techSvg {
  margin: 0 8px;
  width: 25px;
  height: 25px;
}
