@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap');

//Dimensions
$max-app-height-desktop: 1600px;
// Color
$color-alpha: white;
$color-beta: #003180;
$color-gama: #01266b;

//Fonts
$font-main: 'Open Sans', sans-serif;
$font-main-color: $color-alpha;
$font-secondary: 'Oswald', 'sans-serif';
