//Dimensions
$max-app-width-desktop: 1600px;
// Color
$color-alpha: white;
$color-beta: #003180;
$color-gama: #01266b;
$color-epsilon: #34578c;
$color-delta: #3a507d;

//Fonts
$font-main: 'Open Sans', sans-serif;
$font-main-color: $color-alpha;
$font-secondary: 'Oswald', 'sans-serif';

//Breakpoints
$breakpoints: (
  'mobile': 768px,
  'smallDesktop': 1100px,
);

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  } @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
          + "Please make sure it is defined in `$breakpoints` map.";
  }
}

:export {
  breakpoints : {
    mobile: map-get($breakpoints, 'mobile');
  }
}
