@import '../../../Configs/Variables.scss';

.Button {
  font-family: $font-main;
  font-weight: 600;
  font-size: 1.5rem;
  white-space: nowrap;
  background-color: $color-alpha;
  color: $color-beta;
  cursor: pointer;
  border: none;
  padding: 30px 70px;
  border-radius: 10px;
  box-shadow: 0 0px 20px rgba($color: #000000, $alpha: 0.5);
  transition: all 200ms ease-in-out;
  &:hover,
  &:focus {
    transform: translateY(-10%);
    // background-color: $color-alpha;
  }
  &:focus {
    outline: none;
  }
  &:disabled {
    cursor: default;
  }
}

.Rounded {
  background: linear-gradient(
    80.28deg,
    #1a2552 9.35%,
    #1b4a94 46.7%,
    #1d9dda 96.34%
  );
  border-radius: 19px;
  padding: 10px 30px;
  font-size: 0.8rem;
  color: $color-alpha;
  min-width: 140px;
}
