@import '../../Configs/Variables.scss';

.About {
  background: url('../../Assets/Images/Backgrounds/About_background_hd.jpg'),
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0.01%,
      rgba(0, 0, 0, 0.93) 100%
    );
  background-blend-mode: overlay;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $font-main-color;
  padding: 8%;

  @include respond-to('mobile') {
    background: url('../../Assets/Images/Backgrounds/About_background_mobile.jpg'),
      linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) 0.01%,
        rgba(0, 0, 0, 0.93) 100%
      );
    background-blend-mode: overlay;
    background-size: 100% 100%;
  }
}

.Title {
  margin-top: 10vh;
  width: 100%;
  font-size: 3rem;

  @include respond-to('mobile') {
    text-align: center;
  }
}

.Description {
  margin-top: 50px;
  font-size: 1.7rem;

  @include respond-to('mobile') {
    margin-top: 50px;
    font-size: 1.4rem;
  }
}

.TechList {
  margin-top: 100px;
  width: 100%;
  list-style: none;

  li {
    font-size: 1.7rem;
    margin-bottom: 50px;
    display: flex;

    flex-wrap: wrap;

    span {
      display: flex;
      align-items: center;
      white-space: nowrap;
      font-size: 2rem;

      @include respond-to('mobile') {
        width: 100%;
        justify-content: center;
      }
      @media (max-width: 425px) {
        font-size: 1.4rem;
      }
    }
  }

  .SvgWrapper {
    height: 60px;
    width: 60px;
    margin-left: 2%;
    position: relative;

    @include respond-to('mobile') {
      margin: 15px auto;
    }

    svg {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    &.BiggerSvg {
      width: 120px;
    }
  }
}

.ResumeSection {
  margin: auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: space-around;
  width: 100%;

  .Link {
    margin: 20px 20px 0;
  }
}
