@import '../../Configs/Variables.scss';

.Header {
  position: absolute;
  height: 65px;
  width: 100%;
  font-family: $font-main;
  color: $font-main-color;
  // background-color: lightsalmon;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  nav {
    margin: 0 10%;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
  }
  li {
    cursor: pointer;
    text-align: center;
    margin: 0 25px;
    flex: 1;
    font-size: 1.2rem;
  }
}
