@import 'styles/vars.scss';

.expCard {
  width: 900px;
  border-radius: 20px;
  padding: 18px 26px;
  background-color: $color-alpha;
  color: $color-beta;
  font-weight: 600;

  @include respond-to('mobile') {
    width: 100%;
    padding: 10px 16px;
  }
}

.breakLine {
  height: 1px;
  border: none;
  border-top: 1px solid $color-gray;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $color-beta;
}

.title {
  margin-top: 2px;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
  font-size: 22px;

  @include respond-to('mobile') {
    font-size: 20px;
    gap: 10px;
  }
}

.term {
  margin-left: auto;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 18px;
  color: $color-gama;
  padding: 16px 22px;

  @include respond-to('mobile') {
    font-size: 14px;
  }
}

.svgContainer {
  display: flex;
  margin-bottom: 4px;

  &[data-orientation='right'] {
    flex-direction: row-reverse;
  }
}

.svg {
  height: 68px;

  @include respond-to('mobile') {
    height: 48px;
  }
}
